<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Categorias</title>
<style>
<!--
* {
	box-sizing: border-box;
}

td {
	padding: 1em;
}

a {
	text-decoration: none;
	padding: .5em;
	color: white;
	background-color: blue;
}

a:hover {
	background-color: white;
	color: blue;
	border: 1px solid blue;
}
-->
</style>
</head>
<body>
<body>
	<a href="#" th:href="@{/categories/}">Home</a>
	<div align="center">

		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Description</th>
				</tr>
			</thead>

			<tr th:each="cat:${categories}">
				<td th:text="${cat.id}">Default</td>
				<td th:text="${cat.description}">Default</td>
				<td><a href="#" th:href="@{'/categories/'+${cat.id}+'/update'}">Update</a></td>
				<td><a href="#" th:href="@{'/categories/'+${cat.id}+'/show'}">Show</a></td>
				<td><a href="#" th:href="@{'/categories/'+${cat.id}+'/delete'}">Remove</a></td>
				<td><a href="#" th:href="@{'/categories/'+${cat.id}+'/image'}">Set image</a></td>

			</tr>
		</table>
		<div style="margin-top: 1em">
			<a href="#" th:href="@{/categories/new}" style="margin-top: 2em">New</a>
		</div>
	</div>
</body>
</html>












